.clientContainer {
  margin: 0 auto;
  padding: 10px 10px;
  border-radius: 10px;
}

.topNav {
  display: flex;
  align-items: center;
  font-size: larger;
  padding: 10px 0;
  font-weight: 700;
  border-bottom: solid 2px #f5f1fe;
}

.backIcon {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.topNav h1 {
  margin: 0 5px;
}

.shareIcon {
  width: 25px;
  height: 25px;
  margin-left: 150px;
}

.headerContainer {
  display: flex;
  align-items: center;
  margin: 10px 10px;
}

.imageCard {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.agentImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.clientName {
  margin-left: 10px;
  font-weight: 500;
}

.clientBio {
  margin: 20px 10px;
  display: flex;
}

.bio {
  margin: 0 5px;
}

.bio h2 {
  font-weight: 700;
}

.bioDescription h3 {
  margin: 0 10px;
  font-weight: 200;
}

.miniDashboard {
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-items: space-between;
  text-align: center;
}

.analysis {
  width: 150px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
}

.icon {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  color: #8e61f1;
}

.miniDashboard h5 {
  margin-bottom: 5px;
  font-size: small;
  font-weight: 200;
}

.miniDashboard h4 {
  font-weight: 600;
}

.hiredContainer {
  margin: 20px 10px;
}

.hiredContainer h2 {
  color: #8e61f1;
  font-size: large;
  font-weight: 600;
}

.cardContainer {
  display: flex;
  align-items: center;
  margin: 20px auto;
}

.serviceImage {
  width: 50px;
  height: 50px;
}

.serviceData {
  margin: 0 20px;
}

.serviceData h3 {
  font-weight: 600;
}

.serviceData h5 {
  font-weight: 200;
}

.cardContainer h3 {
  font-weight: 600;
}
