.container {
    max-width: 100%;
    margin: 0 auto;
    height: 100vh;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 8%;
    justify-content: center;
  }
  
  .logo {
    font-size: 4vw;
  }
  
  .welcome {
    padding: 2vw;
  }
  
  .heading {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .description {
    color: #565D6D;
    margin-bottom: 1rem;
  }
  
  .inputContainer {
    display: flex;
    padding-top: 1vw;
    flex-direction: column;
  }
  
  .inputWrapper {
    display: flex;
    align-items: center;
    padding: 1vw 0;
    margin-bottom: 0.75rem;

  }
  
  .icon {
    margin-right: 1vw;
  }
  
  .input {
    border: none;
    outline: none;
    width: 80%;
  }
  
  .loginContainer {
    margin-top: 2vw;
  }
  
  .flexContainer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .loginButton {
    background-color: #8E61F1;
    color: white;
    padding: 3vw;
    border-radius: 10rem;
    border: none;
    cursor: pointer;
    min-width: 95%;
  }
  
  .socialLogin {
    margin-top: 20vw;
  }
  
  .socialLoginText {
    color: gray;
    margin-bottom: 1vw;
  }
  
  .socialButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1vw;
  }
  
  /* Media queries for larger screens */
  @media (min-width: 768px) {
    .logo {
      font-size: 3em;
    }
  
    .heading {
      font-size: 2em;
    }
  
    .description {
      font-size: 1em;
    }
  
    .input {
      width: 50%;
    }
  
    .loginButton {
        padding: 2vw;
    }
  
    .socialLoginText {
      font-size: 1em;
    }
  }

/* for the button only */
.button {
    width: 6rem; /* w-24 */
    height: 2.75rem; /* h-11 */
    border-radius: 9999px; /* rounded-full */
    border: 1px solid #7f7e7e; /* border-2 border-black-500 */
    display: flex; /* flex */
    justify-content: center; /* justify-center */
    align-items: center; /* items-center */
    cursor: pointer; /* cursor-pointer */
    
    
}

.google {
    color: #ea4335; /* text-red-500 */
}

.apple {
    color: #000; /* text-white-500 */
}

.facebook {
    color: #1877f2; /* text-blue-500 */
}