.mainWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 0 1.5rem 0 1.5rem;
}

.optionWrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.option {
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
}

.paragraph {
    font-size: 22px;
    font-weight: 500;
    line-height: 34px;
}

@media (min-width: 564px) {
    .page {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mainWrapper {
        flex-direction: row;
        width: 620px;
        height: 500px;
        margin: auto;

        box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    }
}