
.button {
    width: 6rem; /* w-24 */
    height: 2.75rem; /* h-11 */
    border-radius: 9999px; /* rounded-full */
    border: 1px solid #7f7e7e; /* border-2 border-black-500 */
    display: flex; /* flex */
    justify-content: center; /* justify-center */
    align-items: center; /* items-center */
    cursor: pointer; /* cursor-pointer */
    
    
}

.google {
    color: #ea4335; /* text-red-500 */
}

.apple {
    color: #000; /* text-white-500 */
}

.facebook {
    color: #1877f2; /* text-blue-500 */
}