.activityContainer {
    height:100vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;

}

.activeWindow{
     height:94vh;
     border: 1px solid black;
     overflow: scroll;
}

.bottomNav{
    display:flex;
    justify-content: space-between;
    padding: 0.2rem;
    flex:1;

}

.bottomNavButton{
    text-align: center;
    flex:1;
    border: 1px solid black;
    padding: 0.25rem;
    border: 1px solid black;
    display:grid;
    place-items: center;

}

.buttonIcon{
    font-size: 1.25rem !important;
    color: #565D6D;
}

.buttonText{
    color: #565D6D;
}
